.SortDropdown {
  margin-bottom: 1rem;
}

.SortDropdown label {
  margin-right: 0.5rem;
}

.SortDropdown select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
